;Eislufthoehle 1623/76

*begin holes

*title "The Sea of Holes"
*date 2007.07.24
*team Insts Jenny Black
*team Notes Olly Betts
*team Disto Jenny Black
*instrument Our disto; proto pony
; notes in 2007 #33

*export 1 5 7

*data normal from to compass clino tape
1	0	015	-27	10.700
1	0a	198	+04	7.879
2	1	030	-56	13.088
3	2	028	-22	3.060
4	3	024	-59	9.909
5	4	087	-05	2.705
6	5	115	+09	13.207
7	6	108	-24	1.642

*data passage station left right up down ignoreall

*end holes
