; Locn:	Totes Gebirge, Austria - Loser/Augst-Eck Plateau
; Area: Neider Augst-Eck
; Cave:	Guten Morgen Höhle
; Discovered 2015 as 'lower entrance' of 2015-dl-01 (Shagged spit)


*begin gmh

*title "Guten Morgen Höhle"

;exported stations
*export 1.0

*include 1

*equate 1.47 2.47
*include 2.svx

*equate 2.20 3a.0
*include 3a.svx

*equate 2.14 3b.1
*include 3b.svx

*equate 2.7 3c.0
*equate 2.5 3c.4
*equate 2.2 3c.14
*include 3c.svx

*end gmh

