; Locn:	Totes Gebirge, Austria - Loser/Augst-Eck Plateau (kataster group 1623)
; Cave:	258 "Tunnockschacht"

*begin tagbolta

*export 1 2

*title "258A tag bolt survey"
*date 2006.07.24
*team Insts Tom Handford
*team Notes Mark Shinwell

2	1	3.69	163	-07

*end tagbolta

*begin tagboltb

*export 1 3

*title "258B tag bolt survey"
*date 2006.07.26
*team Insts Tom Handford
*team Notes Mark Shinwell

2	1	4.74	130	00
2	3	17.36	124	+16

*end tagboltb

