*begin cathedralchasm2

; stations linked into other surveys (or likely to)
*export 13 42 25 38 46

; Cave: 258
; Area in cave/QM: 
*title "Cathedral Chasm 2"
*date 2016.07.17
*team Insts Aiden Marks
*team Notes Ashley Gregg
*team Tape Aiden Marks
*instrument UBSS Distox
; Calibration: maybe?

*ref 2016#45

; Survey folder reference: 2016#45
; the #number is on the clear pocket containing the original notes
*calibrate tape +0.0	; +ve if tape was too short, -ve if too long

; Centreline data
*data normal from to length bearing gradient ignoreall
*alias station - ..
          13          14   5.131  134.00  -12.00         
          13          14   5.108  134.10  -11.90  [1]    
          13          14   5.138  136.00  -12.00  [1]    
          14          -     1.731   24.20   15.50  [1]    
          14          15   3.720  114.80  -44.30  [1]    
          14          15   3.735  114.40  -44.30  [1]    
          14          15   3.762  114.90  -44.40  [1]    
          15          -     2.339   63.60    9.20  [1]    
          15          -     8.575   16.20   22.40  [1]    
          15          -     1.975    9.30   30.00  [1]    
          15          16   5.944  144.30  -12.60  [1]    
          15          16   5.952  141.70  -12.50  [1]    
          15          16   5.910  140.30  -12.70  [1]    
          16          -     3.247  241.90    5.50  [1]    
          16          -     3.132  176.00  -32.10  [1]    
          16          17   7.136  162.20    3.30  [1]    
          16          17   7.144  160.50    3.30  [1]    
          16          17   7.155  160.30    3.30  [1]    
          16          -     4.875  298.30  -18.00  [1]    
          17          -     1.735   65.10    5.20  [1]    
          17          18   6.514  162.20  -19.10  [1]    
          17          18   6.501  161.90  -19.00  [1]    
          17          18   6.483  161.20  -19.10  [1]    
          18          -     3.184  188.10   82.20  [1]    
          18          -     1.547   79.30   51.40  [1]    
          18          -     0.981  268.60   62.50  [1]    
          18          19   9.059  165.40   -0.90  [1]    
          18          19   9.094  165.60   -1.00  [1]    
          18          19   9.129  165.60   -0.90  [1]    
          19          -     0.737   52.20   16.30  [1]    
          19          20   3.604  153.90   -2.00  [1]    
          19          20   3.597  153.10   -1.90  [1]    
          19          20   3.615  153.20   -1.90  [1]    
          20          21   4.807   11.40    3.60  [1]    
          20          21   4.794   11.20    3.60  [1]    
          20          21   4.811   11.40    3.40  [1]    
          21          -     3.845  220.60  -85.70  [1]    
          21          22   2.845  113.30   47.20  [1]    
          21          22   2.829  113.50   47.10  [1]    
          21          22   2.824  113.20   47.20  [1]    
          22          -     1.218  302.00   66.80  [1]    
          22          23   5.213  227.50   44.80  [1]    
          22          23   5.202  227.60   44.80  [1]    
          22          23   5.098  227.70   44.80  [1]    
          23          -     4.889  339.60   11.10  [1]    
          23          24   4.297  163.30   -2.20  [1]    
          23          24   4.287  163.50   -2.20  [1]    
          23          24   4.296  163.50   -2.30  [1]    
          24          25   7.276  160.10  -45.70  [1]    
          24          25   7.298  169.30  -45.10  [1]    
          24          25   7.295  168.50  -45.30  [1]    
          24          -    17.001  183.00  -11.30  [1]    
          25          20   8.154  340.30   -4.40  [1]    
          25          20   8.093  340.40   -4.40  [1]    
          25          20   8.167  340.60   -4.30  [1]    
          25          -     2.818  303.88   14.84  [2]    
          25          -     4.336  329.19   -2.16  [2]    
          25          -     1.225  250.28   22.98  [2]    
          25          -     2.711   95.23  -42.24  [2]    
          25          -     4.289   13.31  -14.49  [2]    
          25          -     3.364   27.08  -16.45  [2]    
          25          -     4.986  348.35   -2.31  [2]    
          25          26   1.802   67.60  -30.22  [2]    
          25          26   1.797   67.45  -30.06  [2]    
          25          26   1.789   67.75  -30.01  [2]    
          26          27   4.708  187.68  -27.48  [2]    
          26          27   4.694  187.68  -27.74  [2]    
          26          27   4.711  187.36  -27.81  [2]    
          27          -     1.281  115.58    0.85  [2]    
          27          -     3.048   59.47   68.12  [2]    
          27          -     0.567  298.02    2.26  [2]    
          27          -     7.526  199.45   -0.97  [2]    
          27          -     2.748  161.95    0.16  [2]    
          27          28   6.690  179.62    5.71  [2]    
          27          28   6.688  179.59    5.67  [2]    
          27          28   6.679  179.85    5.71  [2]    
          28          -     3.616  188.00   -9.89  [2]    
          28          -     6.059  344.58   85.45  [2]    
          28          -     2.031  130.00    2.01  [2]    
          28          -    10.087  308.72   69.53  [2]    
          28          -     1.950  354.46   -4.53  [2]    
          28          29   6.323   58.83   18.53  [2]    
          28          29   6.317   59.02   18.27  [2]    
          28          29   6.317   58.99   18.25  [2]    
          29          -     1.626  292.74   -2.74  [2]    
          29          -     3.172   13.17   10.96  [2]    
          29          -     2.605  348.19   72.83  [2]    
          29          -     1.846  346.57  -65.39  [2]    
          29          -     2.934  219.74    0.38  [2]    
          29          30   8.897   39.45   17.55  [2]    
          29          30   8.901   39.45   17.55  [2]    
          29          30   8.900   39.40   17.36  [2]    
          30          -     2.570  273.68    6.17  [2]    
          30          -     2.516  344.23   35.70  [2]    
          30          -     2.637  313.81   67.25  [2]    
          30          -     1.704   26.56  -78.13  [2]    
          30          31   7.593   40.85   23.82  [2]    
          30          31   7.594   40.88   23.77  [2]    
          30          31   7.588   40.88   23.82  [2]    
          31          -     1.799  261.75  -13.16  [2]    
          31          -     1.252  313.87    0.28  [2]    
          31          -     2.871  340.00   13.88  [2]    
          31          -     5.873  356.57   16.24  [2]    
          31          -     1.247  313.90   70.51  [2]    
          31          -     2.326  333.63  -67.93  [2]    
          31          32   9.348   18.36   19.09  [2]    
          31          32   9.354   18.41   19.17  [2]    
          31          32   9.346   18.39   19.12  [2]    
          32          -     1.138  102.15   15.45  [2]    
          32          33   2.884   19.00    5.88  [2]    
          32          33   2.886   18.76    5.65  [2]    
          32          33   2.884   18.72    5.66  [2]    
          33          -     1.252  115.01   84.28  [2]    
          33          -     0.325  190.96  -82.18  [2]    
          33          -     0.976  331.68   27.04  [2]    
          33          -     1.346   73.53   15.35  [2]    
          33          -     1.747  156.26   10.58  [2]    
          33          -     1.870  116.29    7.67  [2]    
          33          34   5.059  131.01    7.78  [2]    
          33          34   5.056  131.05    7.70  [2]    
          33          34   5.057  131.02    7.79  [2]    
          34          -     0.797   35.97   -6.08  [2]    
          34          -     0.430  206.34    2.02  [2]    
          34          -     0.726   19.04   87.02  [2]    
          34          -     0.572  249.56  -82.74  [2]    
          34          -     0.826  321.62    5.89  [2]    
          34          -     1.095   90.12    5.72  [2]    
          34          35   3.986  127.49   -8.28  [2]    
          34          35   4.031  128.08   -8.68  [2]    
          34          35   4.028  128.19   -8.67  [2]    
          35          -     0.892  215.17    4.99  [2]    
          35          -     1.327  160.75   83.49  [2]    
          35          -     0.328  317.72  -80.83  [2]    
          35          36   5.195  140.49   -1.97  [2]    
          35          36   5.193  140.47   -2.18  [2]    
          35          36   5.168  140.47   -2.27  [2]    
          36          37   3.517  132.70   -3.52  [2]    
          36          37   3.517  132.78   -3.61  [2]    
          36          37   3.495  132.56   -3.57  [2]    
          36          -     0.000    0.00    0.00  [2]    
          36          -     0.709   59.83   -8.27  [2]    
          36          -     0.576   22.14   79.44  [2]    
          36          -     0.330   66.47  -88.21  [2]    
          37          -     0.000    0.00    0.00  [2]    
          37          -     0.756  226.11    4.98  [2]    
          37          38   2.188  111.18    7.82  [2]    
          37          38   2.184  111.06    7.82  [2]    
          37          38   2.170  110.98    7.57  [2]    
          38          -     5.420  144.61   -3.18  [2]    
          38          39   1.335    6.01   11.78  [2]    
          38          39   1.332    4.69   12.49  [2]    
          38          39   1.338    4.94   12.33  [2]    
          39          -     0.568  156.53    2.67  [2]    
          39          -     0.233  231.11   85.26  [2]    
          39          -     0.340  114.30  -84.38  [2]    
          39          40   3.075  104.71    1.75  [2]    
          39          40   3.055  104.70    1.87  [2]    
          39          40   3.086  104.89    1.83  [2]    
          40          -     1.548  285.70   10.28  [2]    
          40          -     1.688  313.54   10.91  [2]    
          40          -     1.177  307.46   75.74  [2]    
          40          -     1.286  337.67  -47.32  [2]    
          40          -     1.614  188.29   14.12  [2]    
          40          41   3.484    0.98  -18.20  [2]    
          40          41   3.479    1.04  -17.97  [2]    
          40          41   3.480    1.07  -18.05  [2]    
          41          42   2.158  124.52   30.10  [2]    
          41          42   2.174  124.76   30.28  [2]    
          41          42   2.155  124.77   30.21  [2]    
;          42          43   5.586   99.86   -2.99  [2]    duplicate
;          42          43   5.590  100.31   -2.84  [2]    duplicate
;          42          43   5.602  100.15   -2.87  [2]    duplicate
          25          -     0.000    0.00    0.00  [2]    
          25          44   4.467   17.01  -12.84  [2]    
          25          44   4.451   17.05  -13.01  [2]    
          25          44   4.462   17.05  -12.87  [2]    
          45          44   3.834  300.34   -2.61  [2]    
          45          44   3.821  300.38   -2.33  [2]    
          45          44   3.832  300.39   -2.25  [2]    
          45          -     1.260  185.55    3.89  [2]    
          45          -     0.373  227.38    9.46  [2]    
          45          -     1.861  289.39    8.17  [2]    
          45          -     1.970  316.81    2.92  [2]    
          45          -     1.556  343.76    8.98  [2]    
          45          -     0.698   65.65   -0.08  [2]    
          45          -     2.983  294.21   -3.36  [2]    

*title "000 separation leg"
          45          46   3.918   20.51   20.29  [2]    
*title "Cathedral Chasm 2"

          46          -     3.945  129.28   82.52  [2]    
          46          -     0.222  326.63  -83.80  [2]    
          46          -     8.633   84.33  -74.49  [2]    
          46          -     3.401   51.17  -72.55  [2]    
          46          -     9.663  153.93  -59.63  [2]    
          46          -     1.939   94.98    4.53  [2]    
          46          -     1.550  181.68  -25.05  [2]    
          46          -     4.585   37.86    5.36  [2]    
          46          -     2.465  351.11    7.02  [2]    
          46          -     0.336  254.90   -2.50  [2]    
          46          -     2.248  171.95  -59.16  [2]    

; Description
; Coming from Cathedral Kazam a wet traverse across a pitch David dropped a setter down. Passage continues to chamber with a loop coming off 
; to the left up and emerging at top of chamber en route. From chamber a rift goes off up right with main passage continuing straight. Also a
; small lead to left leads round to two small 5m pitches containing crystal formations. A traverse continues on with another pitch. Taking the main route from
; the chamber a sandy passage leads past three bat skeletons before becoming a crawl, eventually reaching a junction. The larger passage to the left
; links back to the passage near trident junction/ gear dump. This bypass is now the recommended way to reach cathedral kazam.

;-----------
;Question Mark List  ;(leave commented-out)
; The nearest-station is the name of the survey and station which are nearest to
; the QM. The resolution-station is either '-' to indicate that the QM hasn't
; been checked; or the name of the survey and station which push that QM. If a
; QM doesn't go anywhere, set the resolution-station to be the same as the
; nearest-station. Include any relevant details of how to find or push the QM in
; the textual description.
;Serial number   grade(A/B/C/X)  nearest-station  resolution-station  description
;QM1    A    cathedralchasm2.46    lower_balkon.mash.1    Traverse and pitch started by David to be finished at some point.
;QM2    B    cathedralchasm2.24    -    Rift heading up to the right from chamber to be explored.
;QM3    C    cathedralchasm2.38    pointless_dig.1    Small sandy crawl near link to trident junction - may require a spade but looks great fun with draft giraffe.

*end cathedralchasm2
