*begin hiltigalactica

; stations linked into other surveys (or likely to)
*export 12 21 26 28

; Cave: 258
; Area in cave/QM: 
*title "Hilti Galactica"
*date 2016.07.25
*team Insts Martin Green
*team Notes Ashley Gregg
*team Tape Martin Green
*instrument UBSS Distox
; Calibration: maybe?

*ref 2016#46

; Survey folder reference: 2016#46
; the #number is on the clear pocket containing the original notes

*calibrate tape +0.0	; +ve if tape was too short, -ve if too long

; Centreline data
*data normal from to length bearing gradient ignoreall
*alias station - ..
     0         -          0.000    0.00    0.00         
     0         -          2.527  359.43   14.97  [1]    
     0         -          0.464  175.42    7.68  [1]    
     0         -          2.136   82.46  -87.73  [1]    
     0         -          7.059  248.88   83.99  [1]    
     0         -          5.185  314.11   28.02  [1]    
     0         -          5.073  315.30   28.20  [1]    
     0         -          5.046  315.69   28.37  [1]    
     0         1       2.926   82.68  -32.24  [1]    
     0         1       2.921   82.57  -32.03  [1]    
     0         1       2.916   82.38  -32.08  [1]    
     1         -          1.181  157.06    1.80  [1]    
     1         -          2.989  350.84   84.48  [1]    
     1         -          5.931  335.54   37.97  [1]    
     1         -          0.587  334.19  -85.42  [1]    
     1         -          3.029  330.84   40.78  [1]    
     1         -          7.124   15.07   33.18  [1]    
     1         2      15.306   49.55    2.82  [1]    
     1         2      15.318   49.54    2.88  [1]    
     1         2      15.283   49.66    2.86  [1]    
     2         -          9.056  318.66   43.01  [1]    
     2         -          4.650  306.58   81.65  [1]    
     2         -          3.435  121.14  -27.96  [1]    
     2         -          0.931  274.41  -77.91  [1]    
     2         -          6.836  216.58   -6.82  [1]    
     2         -          7.186  237.22    3.29  [1]    
     2         -          5.864  269.23   33.94  [1]    
     2         -          7.603    1.52   33.01  [1]    
     2         -          9.923   45.13    3.48  [1]    
     2         -          3.568   56.07   -5.13  [1]    
     1         -          0.000    0.00    0.00  [1]    
     1         3       2.811  194.56   -2.10  [1]    
     1         3       2.771  194.49   -2.37  [1]    
     1         3       2.772  194.56   -2.11  [1]    
     3         -          0.825  246.98   76.50  [1]    
     3         -          0.537  319.91    8.17  [1]    
     3         -          1.080  338.58  -84.15  [1]    
     3         -          1.016  354.08   15.76  [1]    
     3         4       1.224  258.82   -6.60  [1]    
     3         4       1.220  258.55   -5.46  [1]    
     3         4       1.220  258.40   -5.51  [1]    
     4         -          0.335   13.67   10.12  [1]    
     4         -          0.421  121.82    9.42  [1]    
     4         -          0.614  123.01   61.45  [1]    
     4         -          1.211  171.18  -80.80  [1]    
     4         5       3.537  191.95  -40.12  [1]    
     4         5       3.520  192.21  -40.09  [1]    
     4         5       3.547  192.16  -40.05  [1]    
     5         -          1.175  239.69   83.74  [1]    
     5         -          1.988  170.97  -87.17  [1]    
     5         -          0.876   96.70   -2.60  [1]    
     5         -          3.580  174.24  -55.38  [1]    
     5         -          1.734  157.58  -24.41  [1]    
     5         -          1.640  119.65  -14.39  [1]    
     5         -          1.213   34.93   24.11  [1]    
     4         -          0.000    0.00    0.00  [1]    
     4         6       3.345  208.09  -32.92  [1]    
     4         6       3.347  208.27  -32.67  [1]    
     4         6       3.344  208.28  -32.53  [1]    
     6         -          0.530   15.66   14.51  [1]    
     6         -          0.430  279.93   -4.60  [1]    
     6         -          1.179  225.51  -27.29  [1]    
     6         -          0.636  199.97  -22.52  [1]    
     6         7       2.270  207.24  -24.92  [1]    
     6         7       2.274  207.00  -24.75  [1]    
     6         7       2.268  207.06  -24.81  [1]    
     7         -          1.096  197.91   74.73  [1]    
     7         -          3.975  137.43  -77.74  [1]    
     7         -          0.534  122.65  -10.60  [1]    
     7         -          0.801   69.72  -15.69  [1]    
     7         -          1.233   38.89   17.54  [1]    
     7         -          1.949   21.30   30.15  [1]    
     7         -          5.409  152.27  -61.75  [1]    
     7         -          8.752  178.49  -29.06  [1]    
     7         -          3.412  161.83  -35.69  [1]    
     7         8       7.540  175.52  -41.75  [1]    
     7         8       7.537  175.75  -41.84  [1]    
     7         8       7.574  175.63  -41.75  [1]    
     8         -          1.216  118.10  -23.18  [1]    
     8         -          1.614  152.83  -38.34  [1]    
     8         -          2.622   36.71   33.74  [1]    
     8         -          5.414   10.82   37.70  [1]    
     8         -          6.977  342.30   39.09  [1]    
     8         -          3.117  301.65   36.94  [1]    
     8         9       6.164  236.91   -2.46  [1]    
     8         9       6.182  236.95   -2.80  [1]    
     8         9       6.194  237.10   -2.48  [1]    
     9         -          2.940  100.49    5.76  [1]    
     9         -          5.095   78.58   10.37  [1]    
     9         -          1.194  187.77  -74.16  [1]    
     9         -          6.604   27.72   20.72  [1]    
     9         -          5.343  352.42   15.59  [1]    
     9         -          5.911    2.38   18.14  [1]    
     9         -          2.157  208.66  -48.02  [1]    
     9         -          2.215  254.01  -42.48  [1]    
     9         10      3.801  348.04   12.13  [1]    
     9         10      3.800  347.88   12.13  [1]    
     9         10      3.797  348.00   12.15  [1]    
     10        -          0.125   98.17  -80.32  [1]    
     10        -          2.192  270.82   84.29  [1]    
     10        -          2.215   18.84   30.45  [1]    
     10        -          2.332  289.28   -2.78  [1]    
     10        -          4.924  273.60   12.51  [1]    
     10        -          5.281  259.01   10.40  [1]    
     10        -          5.040  239.04   -7.33  [1]    
     10        -          5.114  209.69  -18.01  [1]    
     10        11      7.049  264.21    5.63  [1]    
     10        11      7.050  264.29    5.63  [1]    
     10        11      7.022  263.80    5.53  [1]    
     11        -          3.896  205.51   84.16  [1]    
     11        -          0.650  339.81  -86.15  [1]    
     11        -          2.673  153.51   19.19  [1]    
     11        -          3.363  337.75   26.14  [1]    
     11        -          3.587  295.54   22.00  [1]    
     11        -          2.405   51.72    7.26  [1]    
     11        -         34.358  267.58   10.21  [1]    
     11        -         66.655  240.11   17.89  [1]    
     11        -         16.544  219.40   25.37  [1]    
     11        -         34.122  294.01    5.00  [1]    
     11        -         36.571  257.15   10.82  [1]    
     11        -         34.352  294.55    7.06  [1]    
     11        -         59.947  231.05    3.89  [1]    
     11        12      4.291  266.02   -0.90  [1]    
     11        12      4.266  266.03   -0.79  [1]    
     11        12      4.275  265.97   -0.76  [1]    
     12        -          2.695   28.64   12.63  [1]    
     12        -          8.926  357.81    1.55  [1]    
     12        -         35.691  335.70   -4.26  [1]    
     12        -         11.379  263.98   84.89  [1]    
     ; 12        12x         54.368  269.77  -53.62  [1]    ; temporary station for the way on/down - removed by Becka when adding in Galactica survey (27/07/17)
     12        -          4.313  150.36   25.55  [1]    
     12        -         14.507  204.81   17.82  [1]    
     12        -         32.789  314.86   -3.60  [1]    
     12        -         63.590  223.05   -2.18  [1]    
     12        -         25.965  211.74    7.33  [1]    
     2         -          0.000    0.00    0.00  [1]    
     2         13      9.192  342.65   39.27  [1]    
     2         13      9.189  342.54   39.31  [1]    
     2         13      9.201  342.50   39.24  [1]    
     13        -          1.366  256.27    5.95  [1]    
     13        -          1.881  258.28   67.21  [1]    
     13        -          1.402  261.51  -54.61  [1]    
     13        -          8.199  300.16   36.07  [1]    
     13        14      5.531  285.55   17.17  [1]    
     13        14      5.537  285.55   16.94  [1]    
     13        14      5.537  285.55   16.89  [1]    
     14        -          2.326  107.28   85.33  [1]    
     14        -          4.749   63.29  -48.59  [1]    
     14        -          1.683    5.77  -86.52  [1]    
     14        -          0.212   12.04  -36.12  [1]    
     14        15      2.291   20.13  -36.19  [1]    
     14        15      2.255   20.09  -36.16  [1]    
     14        15      2.251   20.51  -36.14  [1]    
     15        -          1.158  247.41   -3.76  [1]    
     15        -          0.953  157.98   82.34  [1]    
     15        -          1.178  233.87  -80.23  [1]    
     15        -          0.224   61.95    7.73  [1]    
     15        16      4.376  325.91   24.71  [1]    
     15        16      4.363  326.04   24.91  [1]    
     15        16      4.370  325.77   25.00  [1]    
     16        -          0.922  209.03   74.04  [1]    
     16        -          0.360   60.51   29.58  [1]    
     16        -          0.583  193.31    4.26  [1]    
     16        -          0.275  178.71  -80.30  [1]    
     16        17      2.063  220.48   31.42  [1]    
     16        17      2.067  219.96   31.33  [1]    
     16        17      2.067  219.83   31.34  [1]    
     2         -          0.000    0.00    0.00  [1]    
     2         18      9.038   39.63    4.08  [1]    
     2         18      9.047   39.62    3.97  [1]    
     2         18      9.019   39.64    4.11  [1]    
     18        -          0.444  300.17   -5.93  [1]    
     18        -          0.925  107.05    0.56  [1]    
     18        -          0.891  268.18   64.93  [1]    
     18        -          0.632  126.22  -82.15  [1]    
     18        19      1.921   10.34  -43.68  [1]    
     18        19      1.921   10.33  -43.75  [1]    
     18        19      1.930   10.18  -43.87  [1]    
     19        -          0.716  260.47   79.46  [1]    
     19        -          0.695  235.83  -10.65  [1]    
     19        -          1.653  286.42  -64.79  [1]    
     19        -          8.871  296.71  -53.86  [1]    
     19        20      3.623  296.70  -53.50  [1]    
     19        20      3.620  296.66  -53.55  [1]    
     19        20      3.641  296.86  -53.34  [1]    
     20        -          1.373  133.69   -1.87  [1]    
     20        -          0.807   13.43   -8.25  [1]    
     20        -          1.747  152.44   78.45  [1]    
     20        -          8.176   22.73  -85.02  [1]    
     20        -          2.162  117.80   47.49  [1]    
     21        20      4.331   15.14   32.18  [1]    
     21        20      4.338   15.08   32.42  [1]    
     21        20      4.344   15.16   32.44  [1]    
     21        -          6.515  345.45   -4.75  [1]    
     21        -          6.254    6.89  -33.80  [1]    
     21        -          2.400  102.57    0.44  [1]    
     21        -          3.545  176.63   35.97  [1]    
     21        -          2.163  266.92   26.29  [1]    
     21        -          4.740  330.30    3.99  [1]    
     21        -          6.096  140.94  -69.19  [1]    
     0         -          0.000    0.00    0.00  [1]    
     0         22      2.222  328.49   83.92  [1]    
     0         22      2.226  329.67   83.88  [1]    
     0         22      2.216  329.53   83.95  [1]    
     22        -          1.605   93.08   -3.80  [1]    
     22        -          0.730  151.88   -3.57  [1]    
     22        -          1.448  250.54   -0.33  [1]    
     22        -          0.719  316.92   11.94  [1]    
     22        23     15.161   48.89   79.15  [1]    
     22        23     15.176   48.94   79.12  [1]    
     22        23     15.157   50.41   79.22  [1]    
     23        -          3.258  220.51    9.76  [1]    
     23        -          1.832  159.97   10.43  [1]    
     23        -          1.048  119.12   18.55  [1]    
     23        -          5.763  195.50   81.99  [1]    
     23        -         13.793  241.46   69.83  [1]    
     23        -          4.201  154.28   78.11  [1]    
     23        24      5.058  248.12   83.81  [1]    
     23        24      5.043  248.62   83.80  [1]    
     23        24      5.062  249.10   83.71  [1]    
     25        24      1.75  103.12   -3.14  [1]    
     25        24      1.755  103.17   -2.96  [1]    
     25        24      1.753  103.23   -2.88  [1]    
     25        -          2.633  127.36   -0.02  [1]    
     25        -          5.937  135.98   74.93  [1]    
     25        26      5.486  200.06   -3.29  [1]    
     25        26      5.492  199.97   -3.31  [1]    
     25        26      5.489  199.96   -3.38  [1]    
     25        -          0.000    0.00    0.00  [1]    
     27        25     10.611  227.55  -27.94  [1]    
     27        25     10.599  227.44  -27.95  [1]    
     27        25     10.602  227.65  -27.96  [1]    
     27        -          5.240  124.21   70.59  [1]    
     27        -          2.070  152.93   28.33  [1]    
     27        -          1.263  311.02  -42.22  [1]    
     27        -          1.567  244.90  -82.40  [1]    
     27        -          6.995   68.13   62.74  [1]    
     27        -          5.293   59.52   35.73  [1]    
     27        -          5.094   51.26    9.24  [1]    
     27        -          5.923   45.25  -15.23  [1]    
     27        -          4.391  220.81   -6.65  [1]    
     27        -          3.689  233.93  -21.64  [1]    
     27        -          4.560  208.64  -29.52  [1]    
     27        28     12.263   34.59  -50.09  [1]    
     27        28     12.264   34.66  -50.11  [1]    
     27        28     12.272   34.81  -49.98  [1]    
     27        -          0.000    0.00    0.00  [1]    
     27        -          3.326   45.19  -61.97  [1]    

; Description
; After dropping initial pitch (Deep Space 9) approx 25m in hilt-a-plenty. Long rocky chamber from bottom of pitch to next unexplored pitch.
; Slope near end up left ends after short distance. Small side passage near start on right continues to small sandy chamber with several leads.
; From here archway leads onto bouldery ledge in side of very large chamber to be explored.

;-----------
;Question Mark List  ;(leave commented-out)
; The nearest-station is the name of the survey and station which are nearest to
; the QM. The resolution-station is either '-' to indicate that the QM hasn't
; been checked; or the name of the survey and station which push that QM. If a
; QM doesn't go anywhere, set the resolution-station to be the same as the
; nearest-station. Include any relevant details of how to find or push the QM in
; the textual description.
;Serial number   grade(A/B/C/X)  nearest-station  resolution-station  description
;QM1    B    hiltigalactica.21    sloppyseconds1.1    Pitch at end of rocky chamber continues down. Traversing over pitch leads to another pitch which links after a short distance down.
;QM2    C    hiltigalactica.9     -    Three small tight crawly leads off of the small sandy chamber as yet to be explored
;QM3    A    hiltigalactica.12    galactica.1    Mahoosive chamber to be dropped. Cannot see floor.; LS, 13/7/18 the QM3 has been done, see galactica

*end hiltigalactica
