*equate p2012-ns-07 2012-ns-07.GPS


*begin 2012-ns-07

; *title ""
*date 2012.08.15
*team Insts Ian Walker
*team Notes Noel Snape

*export GPS

*data normal from to tape	compass clino

GPS	1	4	-	down


*end 2012-ns-07
