---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$paragraph-indent: true;
$global-font-family: serif;

.photo {
  width: 50%;
  float: right;
  margin-left: 5%;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
