; Locn:	Totes Gebirge, Austria - Loser/Augst-Eck Plateau
; Area: [Plateau]
; Cave:	[Kein Wassermelone]. 1623/2017_cucc_23]
; See gps17.svx for GPS coordinates

*entrance p2017_cucc_23
*equate p2017_cucc_23     2017_cucc_23.keinwassermelone.tag

*begin 2017_cucc_23

*export keinwassermelone.tag keinwassermelone.gps

*include keinwassermelone

*end 2017_cucc_23


