*equate p2012-ns-02 2012-ns-02.GPS

*begin 2012-ns-02

; *title ""
*date 2012.08.11
*team Insts Noel Snape
*team Notes Noel Snape

*export GPS

*data normal from to tape	compass clino
GPS	1	5	-	down

*end 2012-ns-02
