name: survex

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
    steps:
    - name: Checkout the repo
      uses: actions/checkout@master
    - name: Install Survex
      run: sudo apt-get install survex
    - name: Build 1623.svx
      run: cavern 1623
